/* sidebar.component.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #34495e;
}

.active {
  font-weight: bold;
}



.nav-menu {
    background-color: #f8f9fa;
    padding: 10px;
    width: 250px;
  }
  
  .nav-item {
    margin-bottom: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
  }
  
  .nav-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  