<!-- sidebar.component.html -->
<div class="sidebar">
  <ul>
    <li><a (click)="navigateTo('/')">Home</a></li>
    <li><a (click)="navigateTo('/department')">Department</a></li>    
    <li><a (click)="navigateTo('/employee')">Employee </a></li>
    <li><a (click)="navigateTo('/healthinfo')">Health Info</a></li>
  </ul>
</div>


<!-- <div class="nav-menu">
    <nav class="flex-column">
      <div class="nav-item px-3">
        <a routerLink="/" routerLinkActive="active" class="nav-link">
          <span class="oi oi-home" aria-hidden="true"></span> Home
        </a>
      </div>
  
      <div  class="nav-item px-3">
        <a routerLink="/role-assign" routerLinkActive="active" class="nav-link">
          <span class="oi oi-plus" aria-hidden="true"></span> Role Assign
        </a>
      </div>
  
      <div class="nav-item px-3">
        <a routerLink="/department" routerLinkActive="active" class="nav-link">
          <span class="oi oi-plus" aria-hidden="true"></span> Department
        </a>
      </div>
  
      <div  class="nav-item px-3">
        <a routerLink="/employee" routerLinkActive="active" class="nav-link">
          <span class="oi oi-plus" aria-hidden="true"></span> Employee
        </a>
      </div>
  
      <div class="nav-item px-3">
        <a routerLink="/physical-fitness" routerLinkActive="active" class="nav-link">
          <span class="oi oi-plus" aria-hidden="true"></span> Physical Fitness
        </a>
      </div>
  
      <div class="nav-item px-3">
        <a routerLink="/health-info" routerLinkActive="active" class="nav-link">
          <span class="oi oi-plus" aria-hidden="true"></span> Health Info
        </a>
      </div>
  
      <div class="nav-item px-3">
        <a routerLink="/request-help-employee" routerLinkActive="active" class="nav-link">
          <span class="oi oi-plus" aria-hidden="true"></span> Request for Help
        </a>
      </div>
    </nav>
  </div> -->