<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container d-flex justify-content-between align-items-center">
    <div>
      <span>&copy; 2025 My App | All Rights Reserved</span>
    </div>
    <div>
      <ul class="list-unstyled d-flex mb-0">
        <li class="ms-3">
          <a href="/home" class="text-decoration-none text-white">Home</a>
        </li>
        <li class="ms-3">
          <a href="/healthinfo" class="text-decoration-none text-white">Health Info</a>
        </li>
        <li class="ms-3">
          <a href="/department" class="text-decoration-none text-white">Department</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
